/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .hidden-show button {
    color: #0d6efd;
    background-color: #ffffff;
    border-color: #e2e6ea;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #e2e6ea;
    margin: 0 0 0 2px;
    padding: 0 0.3rem;
    font-size: 9.75pt;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .hidden-show button.open,
  .hidden-show button:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    cursor: pointer;
  }
  
  .example-1 button {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .example-1 button:hover {
      color: #fff;
      background-color: #0b5ed7;
      border-color: #0a58ca;
  }


  .example-2 button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 48px;
  }
  .example-2 button:hover{
      background-color: #1db954;
  }
